/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(94, 56, 56);
  --secondary-color: #000;

  --heading-black-color:#282828

  --normal-text
}

