/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #148aff;
  --primary-color-dark: #05416b;

  --secondary-color: #ff7300;
  --secondary-color-light: #fadd05;

  --heading-black-color: #282828;

  --normal-text-color: #656969;
}

